<style type="text/css">

  html, body{
      padding: 0;
      margin: 0;

  }

  body{
      color: #325050;
      background: #E5EDE8;
      font-family: sans-serif;

  }

  header{
      height: 230px;
      padding: 70px 0 0 0;

      color: #fff;
      font-size: 1.7rem;
      text-align: center;

      background-image: url(../img/background.jpg);
      background-size: cover;
  }

  a{
      color: #0d8ba1;
      text-decoration: none;

  }

  .main{
      width: 66.6%;
      padding: 3%;
      background: #FFF;

  }

  article h3 {
      color: #2e484c;
      content: " ";
      margin: 3rem;

  }

  .sidebar{
      position: absolute;
      top: 360px;
      right: 0;
      width: 33.3%;

  }

  .sidebar ul{
      padding: 0;
      margin: 0;
      list-style: none;
  }

  .sidebar li{
      margin: 0 30% 0 25%;
      width: 50%;
      padding: 1.5em 10%;
      border-top: solid 1px #d9e3dc;

  }
  .sidebar li.drop-over {
    background: rgba(255, 255, 255, 0.5);
  }

  @font-face {
      font-family: 'verdemoderna';
      src:url('../font/verdemoderna.ttf') format(truetype);

  }

  footer{
    padding: 3rem;
    background: #134347;
    text-align: center;

  }

  footer a{
      display: inline-block;
      overflow: hidden;
      position: relative;
      width: 52px;
      height: 0;
      padding: 52px 0 0 0;
      margin: 0 1.2em;
      color: rgba(255, 255, 255, 0.5);
  }

  footer a::before{
      display: block;
      position: absolute;
      top: 0;
      font-size: 48px;
      font-family: 'verdemoderna';

  }

  footer a.icon-html::before {content: "5";}
  footer a.icon-html:hover::before, footer a.icon-html:focus::before {content: "%";}
  footer a.icon-css::before {content: "3";}
  footer a.icon-css:hover::before, footer a.icon-css:focus::before {content: "#";}
  footer a.icon-github::before {content: "g";}
  footer a.icon-github:hover::before, footer a.icon-github:focus::before {content: "G";}

  #map {
    height: 33.3%;
    width: 72.6%;
  }
</style>
